:root {
    --main-bg-color: #242526;
    --alt-bg-color: #212121;
    --text-color: #c9c8c3;
    --text-color2: #54524f;
    --text-color4: #767676;
    --text-color3: #CEA4A0;
    --primary-color: #101010; /* Main heading color */
    --secondary-color: #d59e05; /* Subheading color */
    --header-color: #361726;
    --hlts-glry-radius: 20px;
    --font-stack: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --animation-duration: 0.3s;
    --nav-item-spacing:1ren;
    --breakpoint-xxs: 0280px;
    --breakpoint-xs: 0375px;
    --breskpoint-x: 420px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1441px;
    --breakpoint-xxxl: 1900px;

    --modal-scrim-fill: rgba(50,50,50,0.48);
    --modal-scrim-blur: 20px;
    opacity: 1;
    
}



body {
    font-family: var(--font-stack);
    font-size: 110%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: var(--text-color);
    text-align: left;
    font-weight: 600;
}

/* --- container description*/




.container {
    width: 80vw; /* Occupe toute la largeur de la fenêtre */
    max-width: 100%;
    padding: 20px; /* Padding ajusté à 5% de la largeur de la fenêtre */
    margin: 2vh auto;
    background-color: #101010;
    border-radius: var(--hlts-glry-radius); /* Conserve la bordure arrondie */
}

 
  
  
  .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding: 0 !important; /* Neutralise les paddings conflictuels */
    margin: 0 !important;
  }



  .container2 {
    width: 90vw; /* S'ajuste en fonction de la largeur de l'écran */
    max-width: 60%; /* Limite la largeur à 500px sur les grands écrans */
    padding: 20px; /* Padding ajusté à 5% de la largeur de la fenêtre */
    margin: 2vh auto;
    background-color: #101010;
    border-radius: var(--hlts-glry-radius);
    
}

    .container, .container2 {
        border: none; /* Désactive les bordures */
        box-shadow: none; /* Désactive les ombres */
        outline: none; /* Supprime les contours */
        overflow: hidden;
        
    }

    

    .text-center {
        font-size: 4vw; /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
        margin-bottom: 1.5vh; /* Ajuste la marge en bas à 2% de la hauteur de la fenêtre */
        margin-top: 1.5vh; /* Ajuste la marge en haut à 2% de la hauteur de la fenêtre */
    }


    .text-center2 {
        font-size: 3vw; /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
        margin-bottom: 3vh; /* Ajuste la marge en bas à 5% de la hauteur de la fenêtre */
        margin-top: 1.5vh; /* Ajuste la marge en haut à 2% de la hauteur de la fenêtre */
    }
    @media (max-width: 768px) {
        .text-center {
            margin-bottom: 0vh;
            margin-top: 0vh;
        }  
    }

 
/* --- row description*/
.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Espace les éléments */
    align-items: center;
    margin-top: 2vh; /* Ajuste la marge du haut en fonction de la hauteur de la fenêtre */
    gap: 3vw; /* Ajuste l'écart entre les colonnes en fonction de la largeur de la fenêtre */
    row-gap: 1.5vh; /* Ajuste l'écart entre les lignes en fonction de la hauteur de la fenêtre */
}
/* Media query pour les petits écrans - les éléments passent en colonne */
@media (max-width: 768px) {
    .row {
        flex-direction: column; /* Les éléments passent en colonne pour les petits écrans */
        align-items: center;
        gap: 2vh; /* Ajuste l'espace entre les colonnes lorsqu'elles sont en mode colonne */
    }  
}
.img-container {
    position: relative;
    overflow: hidden; /* Empêche l'image de sortir du conteneur */
    height: auto;
    width: 100%;
    flex: 0 1 48%;
}

.img-fluid {
    transition: transform 0.3s ease-in-out; /* Animation fluide pour le zoom */
    width: 100%;
    height: auto;
   transform-origin: bottom left;
}

.fo {
    font-size: 3.5vw; /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: .007vw; /* Ajuste l'espacement des lettres en fonction de la largeur de la fenêtre */
    color: white;
    text-align: left;
}

.typography-site-body {
    white-space: normal; /* Permet au texte de s'enrouler */
    word-break: break-word; /* Casse les mots pour éviter les débordements */
    hyphens: auto; /* Ajoute automatiquement des tirets lorsque des mots sont coupés */
    line-height: 1.5;
    letter-spacing: 0.01vw; /* Ajuste l'espacement des lettres pour éviter que les lettres se touchent */
    font-size: 2vw; /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
    text-align: left;
    display: block;
    font-weight: 400;
}
@media (max-width: 768px){
    .typography-site-body {
    font-size: 3.5vw;
    }
}


.typography-site-body strong {
    color: white; /* Ou n'importe quelle autre couleur */
}

.img-fluid {
    height: auto;
    width: 30vw; /* Ajuste la largeur de l'image en fonction de la largeur de la fenêtre */
}




/* Conteneur flex pour aligner les colonnes et images */
.container7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ligne flex pour assurer des colonnes égales */
.row4 {
    display: flex;
    flex-wrap: wrap; /* Permet aux colonnes de s'enrouler sur petits écrans */
    justify-content: space-between;
    gap: 2vw; /* Ajuste l'espace entre les colonnes */
}

/* Colonnes avec alignement vertical */
.col-md-6 {
    flex: 1; /* Assure que les deux colonnes prennent une largeur égale */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #101010; /* Si nécessaire, ajoute un fond pour les colonnes */
    border-radius: var(--hlts-glry-radius);
    padding: 1vw; /* Ajoute un peu d'espace autour du contenu */
}

/* Image dans les colonnes */
.modal-image {
    width: 100%; /* L'image occupe toute la largeur de la colonne */
    height: 35vh; /* Ajustement pour la hauteur de l'image */
    object-fit: cover; /* Assure que l'image couvre bien son conteneur sans déformation */
    border-radius: var(--hlts-glry-radius);
}

/* Titre et texte pour chaque section */
.title-LW {
    font-size: 1.8vw; /* Taille du titre ajustée en fonction de la largeur de l'écran */
    color: #CEA4A0;
    margin-top: 1vh;
}

.text-LW {
    font-size: 1.2vw; /* Taille du texte ajustée en fonction de la largeur de l'écran */
    color: #c9c8c3;
    margin-top: 0.5vh;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .row4 {
        flex-direction: column; /* Les colonnes passent en vertical sur petits écrans */
        gap: 2vh; /* Espacement ajusté pour les petits écrans */
    }

    .modal-image {
        height: 30vh; /* Réduit la taille des images pour les petits écrans */
    }

    .title-LW {
        font-size: 5vw; /* Taille plus grande pour les petits écrans */
    }

    .text-LW {
        font-size: 4vw; /* Ajuste la taille du texte pour les petits écrans */
    }
}

 .row3 {
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: left;
   
    gap: 60px;
    row-gap: 20px;
   
  } 


@media (min-width: 768px){
    .row3 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;    
    }
}



  
.title-LW {
    font-size: 2.5vw; /* Correspond à environ 25px sur un écran large */
    font-weight: 600;
    font-family: var(--font-stack);
    margin-left: 0vh;
    margin-top: 2vh; /* Ajusté pour une meilleure adaptation en fonction de la hauteur de l'écran */
    margin-bottom: 2vh; /* Marges ajustées pour être basées sur la hauteur de la fenêtre */
    text-align: left;
    line-height: 1.2; /* Ajusté pour une meilleure lisibilité */
    letter-spacing: 0.1vw; /* Ajusté en fonction de la largeur de l'écran */
    color: #CEA4A0;
}
@media (max-width: 768px) {
    .title-LW {
        font-size: 5vw; /* Texte plus grand sur les petits écrans pour une meilleure lisibilité */
        margin-top: 2vh; /* Augmentation de l'espace supérieur pour un meilleur espacement */
        margin-bottom: 2vh; /* Espace inférieur augmenté pour une meilleure séparation */
        line-height: 1.4; /* Hauteur de ligne augmentée pour un meilleur espacement du texte */
        letter-spacing: 0.2vw; /* Espacement entre les lettres légèrement augmenté pour une meilleure lisibilité */
    }
}


.text-LW {
    font-size: 1.8vw; /* Environ équivalent à 20px sur un écran large */
    font-weight: 400;
    font-family: var(--font-stack);
    text-align: left;
    margin-top: 2vh; /* Ajusté en fonction de la hauteur de la fenêtre */
    margin-left: 0vh;
    margin-right: 2vh;
    letter-spacing: 0.03vw; /* Ajusté en fonction de la largeur de la fenêtre */
    line-height: 1.4; /* Légèrement augmenté pour la lisibilité */
    color: white;
}
@media (max-width: 768px) {
    .text-LW {
        font-size: 4vw; /* Taille plus grande sur les petits écrans pour la lisibilité */
        margin-top: 2vh; /* Augmentation de l'espace supérieur pour une meilleure respiration */
        letter-spacing: 0.05vw; /* Espacement légèrement augmenté pour améliorer la lisibilité */
        line-height: 1.4; /* Augmenté pour rendre le texte plus espacé sur les petits écrans */
        color: #fff;
    }
}



.col-1 {
   
   
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
   
} 
.col-lg-6 {
   flex: 0 1 48%;
    
}





/* --- button*/

 
.button {
    display: flex;
    margin-top: 2vh; /* Ajuste la marge du haut à 2% de la hauteur de la fenêtre */
}

.btn-lg, .btn {
    padding-left: 1vw; /* Ajuste le padding à gauche en fonction de la largeur de la fenêtre */
    padding-right: 1vw; /* Ajuste le padding à droite en fonction de la largeur de la fenêtre */
    font-size: 3vw; /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
    font-weight: 600;
    line-height: 1.2;
    border-radius: 1vw; /* Ajuste le rayon de bordure en fonction de la largeur de la fenêtre */
}


.btn-primary {
    color: #f2f2f2;
    background-color: #CEA4A0;
    border-color: #cea4a000;
    
    font-weight: 600;

}

.btn {
    display: flex;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a {
    text-decoration: none;
}

.typography-site-body strong {
    translate: Y(var(--text-color3));
    color: #767676;
}

.header-text {
    white-space: normal;
    word-break: break-word;
    hyphens: auto;
    margin-top: 10vh; /* Ajustement basé sur la hauteur de la fenêtre */
    margin-bottom: 10vh;
    margin-left: 10vw; /* Ajustement basé sur la largeur de la fenêtre */
    margin-right: 10vw;
    color: #c9c8c3;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}

/* --- Navbar description --- */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

/* Navbar containers and logo */
.navbar .container,
.navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1vw; /* Ajusté en vw pour une mise en page responsive */
}

.navbar-logo {
    display:flex;
    flex-wrap: nowrap;
    height: auto;
    width: 20vw; /* Ajusté pour être responsive */
    max-width:none;
    margin-left: 5vw;
    margin-bottom: 1vh;
    margin-top: 0;
}


/* Navbar navigation */
.navbar-nav {
    display: block;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    list-style: none;
    width: auto;
    padding: 0;
}

.nav-item {
    padding: 0 2vw; /* Ajusté en fonction de la largeur de la fenêtre */
    color: #767676;
    font-size: 2vw; /* Ajuste la taille de la police */
}
@media (max-width: 768px) {
    .nav-item {  
       font-size: 2.8vw;
    }
}
.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link.disabled {
    opacity: 0.5;
}

.navbar-text {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.navbar-collapse {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: baseline;
}

/* Navbar light theme */
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

/* Navbar dark theme */
.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.553);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #c9c8c3;
}

.navbar-dark {
    color: #c9c8c3;
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
    color: #fff;
}

.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
    color: #fff;
}

/* AboutMeModalLink */
.AboutMeModalLink {
    color: #54524f;
}

/* Navbar brand and logo adjustments */
.navbar-logo {
    width: 25vw;
    height: auto;
}
@media (max-width: 768px) {
    .navbar-logo {  
        height: auto;
        width: 35vw; /* Ajusté pour être responsive */
    }
}
.navbar-brand {
    margin-left: 2vw;
}

/* --- Font description*/

hr {
    display: flex;
    flex-wrap: wrap;
    unicode-bidi: isolate;
    margin-block-start: 2vh; /* Utilisation de la hauteur de la fenêtre pour les marges */
    margin-block-end: 2vh;   /* Utilisation de la hauteur de la fenêtre pour les marges */
    overflow: hidden;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    max-width: 90vw; /* Limite la largeur à 90% de la largeur de la fenêtre */
    font-weight: 600;
    font-size: 10vw; /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
    line-height: 1.5;
    letter-spacing: -0.015em;
    margin-top: 1vh; /* Marges basées sur la hauteur de la fenêtre */
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: #CEA4A0;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-weight: 600;
    font-size: 3.5vw; /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
    line-height: 1.5;
    letter-spacing: -0.015em;
    margin-top: 1vh; /* Marges en fonction de la hauteur de la fenêtre */
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: #c9c8c3;
}

h3 {
    display: block;
    text-align: left;
    font-size: 7vw; /* Ajuste la taille de la police à 7% de la largeur de la fenêtre */
}

h6 {
    display: flex;
    text-align: left;
    font-size: 2.5vw; /* Ajuste la taille de la police à 2.5% de la largeur de la fenêtre */
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.007em;
    margin-top: 0vh; /* Marges ajustées en vh pour plus de fluidité */
    margin-bottom: 0vh;
    color: white;
}

h4 {
    margin-top: 2vh; /* Marges en haut et en bas ajustées à la hauteur de la fenêtre */
    margin-bottom: 2vh;
    font-size: 3vw; /* Ajuste la taille de la police à 3% de la largeur de la fenêtre */
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: 0.007em;
    color: #CEA4A0;
    text-align: center;
}

h5 {
    margin-top: 2vh; /* Ajuste la marge supérieure à 2% de la hauteur de la fenêtre */
    margin-bottom: 1vh; /* Ajuste la marge inférieure à 1% de la hauteur de la fenêtre */
    margin-left: 0;
    font-weight: 600;
    font-size: 2vw; /* Ajuste la taille de la police à 2% de la largeur de la fenêtre */
    line-height: 1.3;
    letter-spacing: 0.015em;
    text-align: left;
    color: #CEA4A0;
}

p {
    margin-top: 0;
    margin-top: 0.5vh; /* Ajuste la marge en fonction de la hauteur de la fenêtre */
    margin-left: 0vw;
    margin-right: 0.5vw; /* Ajuste la marge droite à 0.5% de la largeur de la fenêtre */
    margin-bottom: 0vh;
    font-size: 2vw; /* Ajuste la taille de la police à 2% de la largeur de la fenêtre */
    font-weight: 600;
    letter-spacing: 0.011em;
    line-height: 1.4;
    color: #c9c8c3;
    text-align: left;
}

.header-container {
    position: relative;
    max-width: 100vw; /* Ajuste la largeur maximale à 80% de la largeur de la fenêtre */
}

.full-width-photo {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.3); /* Ajustement du box-shadow en utilisant vw */
}

.header-image {
    width: 100%;
    height: auto; /* Conserve le ratio de l'image */
}

.header-text {
    position: absolute;
    top: 20vh; /* Positionnement basé sur la hauteur de la fenêtre */
    left: 50vw; /* Positionnement basé sur la largeur de la fenêtre */
    max-width: 80vw; /* Ajuste la largeur maximale à 80% de la largeur de la fenêtre */
    padding: 1vw; /* Ajustement du padding en utilisant vw */
    margin: 1vw; /* Ajustement des marges en utilisant vw */
    word-break: break-word;
    hyphens: auto;
    color: #c9c8c3;
}


.header-text h3 {
    font-size: 7vw; /* Ajuste la taille de la police à 7% de la largeur de la fenêtre */
    margin: 0;
    padding: 0;
    color: var(--text-color);
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 1vh; /* Ajuste la marge inférieure à 1% de la hauteur de la fenêtre */
}

.header-text h2 {
    font-size: 5.5vw; /* Ajuste la taille de la police à 5.5% de la largeur de la fenêtre */
    line-height: 1;
    letter-spacing: 0.011em;
    margin: 0;
    padding: 0;
    color: var(--text-color3);
}

.full-width-photo {
    width: 100%; /* S'assure que l'image occupe toute la largeur du conteneur */
    height: auto; /* Laisse la hauteur s'adapter automatiquement pour conserver le ratio */
    display: block; /* Supprime les espaces blancs potentiels autour de l'image */
    max-height: 100vh; /* Limite la hauteur maximale à 100% de la hauteur de la fenêtre */
}
@media (max-width: 768px) {
    .full-width-photo {
        width: 100%; /* L'image occupe toute la largeur disponible */
        height: auto; /* Conserve le ratio d'aspect de l'image */
        max-height: 70vh; /* Limite la hauteur à 70% de la hauteur de la fenêtre */
        display: block;
        object-fit: cover; /* Assure que l'image couvre bien le conteneur sans déformation */
        margin: 0 auto; /* Centre l'image s'il y a de la marge */
    }
}


.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 0;
}





/* section dark */
.container-dark {
    background-color: #000;
    position: relative;
    text-align: left;
    color: black; /* Ou toute autre couleur que vous préférez */
    overflow: hidden;
    outline: none; /* Supprime les contours */
    border: none; /* Supprime les bordures */
}

.photo {
    width: 100vw; /* Ajusté à 100% de la largeur de la fenêtre */
    height: auto; /* Conserve le ratio de l'image */
    display: block;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3); /* Ajuste l'ombre à l'aide de vw */
    background-color: #000;
}

.Sittelle-text {
    position: absolute;
    top: 1.3vh; /* Positionnement en fonction de la hauteur de la fenêtre */
    left: 6vw; /* Positionnement en fonction de la largeur de la fenêtre */
    transform: translate(0);
    color: white; /* Ajuster selon vos besoins */
    margin: 0;
    margin-bottom: 1vh; /* Ajusté avec vh pour la marge en bas */
    padding: 0;
    max-width: 80vw; /* Ajusté pour être responsive en fonction de la largeur de la fenêtre */
}

.Sittelle-text h3 {
    font-size: 5vw; /* Ajusté à 7% de la largeur de la fenêtre */
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.011em;
    margin-bottom: 1vh;
}

.Sittelle-text h2 {
    font-size: 4vw; /* Ajusté à 2% de la largeur de la fenêtre */
    line-height: 0.9;
    font-weight: 600;
    letter-spacing: 0.007em;
    color: #767676;
}

/* Carouselle section dark */




.text-area {
    display: flex;
    flex-wrap: wrap;
    padding: 0; /* Padding autour du texte */
    margin-bottom: 0 auto;
    margin-top: 0 auto; /* Ajusté avec vh pour la marge supérieure */
    margin-left: 1vw; /* Ajusté avec vw pour la marge gauche */
    margin-right: 1vw; /* Ajusté avec vw pour la marge droite */
    text-align: left;
    justify-items: left;
}

.text-area h2 {
    font-size: 2.2vw; /* Ajusté à 6% de la largeur de la fenêtre pour le titre */
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.007em;
    color: white;
}
@media (max-width: 768px) {
    .text-area h2 {
        font-size: 3.5vw;

    }
}

.text-area p {
    font-size: 2.2vw; /* Ajusté à 4% de la largeur de la fenêtre pour le paragraphe */
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.007em;
    color: #CEA4A0;
    margin-top: 1vw;
}
@media (max-width: 768px) {
    .text-area p {
        font-size: 3.8vw;

    }
}
@media (min-width: 280px) {
    .slider-container {
        display: flex;
        flex-wrap: nowrap;
        }
    }

        
        @media (min-width: 375px) {
            .slider-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                }
            }

                 

@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
body {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw; /* Largeur ajustée à 100% de la largeur de la fenêtre */
    height: 150vh; /* Hauteur ajustée à 150% de la hauteur de la fenêtre */
    background-color: #000;
  }
  
  p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #ffffff;
  }
  
  p:hover,
  p:focus {
    outline: auto;
    text-decoration: solid;
  }
  
      

/* carousel */



       

/* Slideshow container */
.slideshow-container {
    background-color: #000;
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    outline: none; /* Supprime les contours */
    border: none; /* Supprime les bordures */
}
@media (min-width: 280px){
    .slideshow-container {
    max-width: 600px;
    align-items: center;
    
}
}

@media (min-width: 375px){
    .slideshow-container {
    max-width: 370px;
    align-items: center;
    
}
}
@media (min-width: 576px){
    .slideshow-container {
    max-width: 550px;
    align-items: center;
    
}
}
@media (min-width: 768px){
    .slideshow-container {
    max-width: 760px;
    align-items: center;
    
}
}
@media (min-width: 992px){
    .slideshow-container {
    max-width: 950px;
    align-items: center;
    
}
}
@media (min-width: 1280px){
    .slideshow-container {
    max-width: 1200px;
    align-items: center;
    
}
}
/* Hide the images by default */
.mySlides {
  display: block;
 
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #CEA4A0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* modal section dark */





/* The Modal (background) */

.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Resté en place même pendant le scroll */
    z-index: 2; /* Assuré que la modale soit au-dessus du reste */
    left: 0;
    top: 0;
    width: 100vw; /* Prend toute la largeur de la fenêtre */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    overflow: auto; /* Active le scroll si nécessaire */
    
    border-color: #212121;
    background-color: rgba(0, 0, 0, 0.4); /* Fond noir avec opacité */
    backdrop-filter: blur(5px); /* Effet de flou sur le fond */
    -webkit-backdrop-filter: blur(5px); /* Effet de flou pour Safari */
}

@media (max-width: 768px) {
    .modal {
        backdrop-filter: blur(3px); /* Réduit légèrement le flou sur les petits écrans */
        -webkit-backdrop-filter: blur(3px); /* Pour Safari */
        padding: 2vh 2vw; /* Ajoute du padding pour donner de l'espace au contenu sur les petits écrans */
    }
}

.container3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
     padding: 5px;
     margin-right: 10%;
     margin-left: 10%;
   }
  
  
   
   .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
     width: auto;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: 2rem;
     margin-left: 2rem;
   }

   hr2 {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    overflow: hidden;
    
   }
.l2-horizontal-rule {
    background: #333333;
    
    height: 1px;
    margin-inline-start: 15%;
    margin-inline-end: 15%;
    margin-top: 8%;
    margin-bottom: 8%;
    border: none;
}





/* Modal Content/Box */
.modal-content {
    position: relative;
    z-index: 3;
    background-color: #000;
    margin: 5% auto; /* 15% from the top and centered */
    
    padding: 20px;
    border: 1px solid #000;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 90vh;
    overflow: auto; /* Enable scroll if needed */
    border-radius: 30px;
}
.page-content {
    position: relative;
    z-index: 1;
}

.fa-instagram {
    font-size: 150px;
    margin-bottom: -150%;
    
    color: #CEA4A0;
    
}
/* The Close Button */
.close {
    
    color: #c9c8c3;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #CEA4A0;
    text-decoration: none;
    cursor: pointer;

}

/* Add styles for the image */
.modal-image {
    max-width: 100%; /* This will ensure the image is responsive */
    height: auto;
    border-radius: var(--hlts-glry-radius);
    
}
.fixed-button {
    position: fixed; /* Keeps the button in the same place even when scrolling */
     /* Centers the button horizontally */
    bottom: 5px; /* Distance from the bottom of the viewport */
    transform: translateX(0); /* Ensures exact horizontal centering */
    padding: 5px 5px; /* Padding inside the button */
    font-size: 25px; /* Button text size */
    font-weight: 600;
    background-color: #CEA4A0; /* Background color of the button */
    color: white; /* Text color of the button */
    border: none; /* Removes the border */
    border-radius: 5px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes the cursor to a pointer when hovered over */
    z-index: 2; /* Ensures the button is above other elements */
    margin-left: 20%;
    margin-right: 20%;

}

.fixed-button:hover {
    background-color: #CEA4A0; /* Darker shade when hovered for visual feedback */
    
}

@media (min-width: 280px){
    .fixed-button {
        position: fixed;
        font-size: 16px;
        z-index: 3;
    }
}

@media (min-width: 375px){
    .fixed-button {
        position: fixed;
    }
}

@media (min-width: 576px){
    .fixed-button {
        position: fixed;
    }
}

@media (min-width: 768px){
    .fixed-button {
        position: fixed;
        font-size: 20px;
    }
}
@media (min-width: 992px){
    .fixed-button {
        font-size: 25px;
        
    }
}
@media (min-width: 1280px){
    .fixed-button {
        font-size: 30px;
        
    }
}
.container4 {
    width: auto;
    padding: 0rem;
     margin-right: 10%;
     margin-left: 10%;
}

      /* --- aboutMe Modal*/
    
      .modal1 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 4; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        
       border-color: #212121;
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        backdrop-filter: blur(5px); /* Blur effect for the background */
        -webkit-backdrop-filter: blur(5px); /* For Safari */
    }      
    

    .modal-content2 {
        position: relative;
        z-index: 3;
        background-color: #212121;
        margin: 5vh auto; /* 5% de la hauteur de l'écran pour l'espacement vertical */
        
        padding: 2vh 2vw; /* Padding ajusté pour s'adapter à l'écran */
        border: 1px solid #212121;
        width: 80vw; /* Largeur définie en fonction de la largeur de la fenêtre */
        max-height: 90vh; /* Hauteur maximale définie en fonction de la hauteur de la fenêtre */
        overflow: auto; /* Active le défilement si nécessaire */
        border-radius: 3vw; /* Border-radius en fonction de la largeur de l'écran */
    }
    
    @media (max-width: 768px) {
        .modal-content2 {
            width: 90vw; /* Largeur augmentée pour occuper presque toute la fenêtre */
            max-height: 80vh; /* Hauteur réduite pour mieux s'adapter aux petits écrans */
            padding: 4vh 4vw; /* Plus de padding pour donner de l'espace sur les petits écrans */
            border-radius: 5vw; /* Des coins plus arrondis pour les petits écrans */
        }
    }
    
.modal-content3 {
    position: relative;
    z-index: 3;
    background-color: #212121;
    margin: 5vh auto; /* 5% de la hauteur de l'écran pour l'espacement vertical */
    
    padding: 2vh 2vw; /* Padding ajusté pour s'adapter à l'écran */
    border: 1px solid #212121;
    width: 80vw; /* Largeur définie en fonction de la largeur de la fenêtre */
    max-height: 90vh; /* Hauteur maximale définie en fonction de la hauteur de la fenêtre */
    overflow: auto; /* Active le défilement si nécessaire */
    border-radius: 3vw; /* Border-radius en fonction de la largeur de l'écran */
}



@media (max-width: 768px){
    .modal-content3 {
        width: 90vw; /* Largeur augmentée pour occuper presque toute la fenêtre */
        max-height: 80vh; /* Hauteur réduite pour mieux s'adapter aux petits écrans */
        padding: 4vh 4vw; /* Plus de padding pour donner de l'espace sur les petits écrans */
        border-radius: 5vw; /* Des coins plus arrondis pour les petits écrans */
    }
}
.modal-content4 {
    position: relative;
    z-index: 3;
    background-color: #212121;
    margin: 5vh auto; /* 5% de la hauteur de l'écran pour l'espacement vertical */
    
    padding: 2vh 2vw; /* Padding ajusté pour s'adapter à l'écran */
    border: 1px solid #212121;
    width: 80vw; /* Largeur définie en fonction de la largeur de la fenêtre */
    max-height: 90vh; /* Hauteur maximale définie en fonction de la hauteur de la fenêtre */
    overflow: auto; /* Active le défilement si nécessaire */
    border-radius: 3vw; /* Border-radius en fonction de la largeur de l'écran */
}



@media (max-width: 768px){
    .modal-content4 {
        width: 90vw; /* Largeur augmentée pour occuper presque toute la fenêtre */
        max-height: 80vh; /* Hauteur réduite pour mieux s'adapter aux petits écrans */
        padding: 4vh 4vw; /* Plus de padding pour donner de l'espace sur les petits écrans */
        border-radius: 5vw; /* Des coins plus arrondis pour les petits écrans */
    }
}
.about-text {
    font-size: 4vw; /* Correspond à environ 25px sur un écran large */
    font-weight: 600;
    font-family: var(--font-stack);
    margin-left: 2vh;
    margin-top: 2vh; /* Ajusté pour une meilleure adaptation en fonction de la hauteur de l'écran */
    margin-bottom: 2vh; /* Marges ajustées pour être basées sur la hauteur de la fenêtre */
    text-align: left;
    line-height: 1.2; /* Ajusté pour une meilleure lisibilité */
    letter-spacing: 0.1vw; /* Ajusté en fonction de la largeur de l'écran */
    color: #CEA4A0;
}
@media (max-width: 768px) {
    .about-text {
        font-size: 5vw; /* Texte plus grand sur les petits écrans pour une meilleure lisibilité */
        margin-top: 2vh; /* Augmentation de l'espace supérieur pour un meilleur espacement */
        margin-bottom: 2vh; /* Espace inférieur augmenté pour une meilleure séparation */
        line-height: 1.4; /* Hauteur de ligne augmentée pour un meilleur espacement du texte */
        letter-spacing: 0.2vw; /* Espacement entre les lettres légèrement augmenté pour une meilleure lisibilité */
    }
}


.about-sub {
    font-size: 3vw; /* Environ équivalent à 20px sur un écran large */
    font-weight: 400;
    font-family: var(--font-stack);
    text-align: left;
    margin-top: 2vh; /* Ajusté en fonction de la hauteur de la fenêtre */
    margin-left: 2vh;
    margin-right: 2vh;
    letter-spacing: 0.03vw; /* Ajusté en fonction de la largeur de la fenêtre */
    line-height: 1.2; /* Légèrement augmenté pour la lisibilité */
    color: white;
}
@media (max-width: 768px) {
    .about-sub {
        font-size: 4vw; /* Taille plus grande sur les petits écrans pour la lisibilité */
        margin-top: 2vh; /* Augmentation de l'espace supérieur pour une meilleure respiration */
        letter-spacing: 0.05vw; /* Espacement légèrement augmenté pour améliorer la lisibilité */
        line-height: 1.4; /* Augmenté pour rendre le texte plus espacé sur les petits écrans */
        color: #fff;
    }
}



.autre-text {
    font-size: 300px;
    font-weight: 600;
   
    font-family: var(--font-stack);
    text-align: left;
    line-height: 1;
    letter-spacing: 0.001;
    color: #54524f;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 50px;
}
@media (min-width: 280px){
    .autre-text{
        font-size: 26px;
        font-weight: 600;
        font-family: var(--font-stack);
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.02em;
        line-height: 1.1;
        color: #c9c8c3;
    }
}


@media (min-width: 375px){
    .autre-text{
        font-size: 26px;
        font-weight: 600;
        font-family: var(--font-stack);
        text-align: center;
        margin-top: 20px;
        letter-spacing: 0.05em;
        line-height: 1.1;
        color: #c9c8c3;
    }
}

@media (min-width: 576px){
    .autre-text{
        font-size: 25px;
        font-weight: 600;
        font-family: var(--font-stack);
        text-align: left;
        margin-top: 0%;
        letter-spacing: 0.05em;
        line-height: 1.1;
        color: #c9c8c3;
    }
}


@media (min-width: 768px){
    .autre-text{
        font-size: 28px;
        font-weight: 600;
        font-family: var(--font-stack);
        text-align: center;
        margin-top: 15px;
        letter-spacing: 0.05em;
        line-height: 1.1;
        color: #c9c8c3;
    }
}
.autre-sub {
    font-size: 3vw; /* Correspond à environ 30px sur un écran large */
    font-weight: 200;
    font-family: var(--font-stack);
    font-style: italic;
    text-align: left;
    margin-left: 1.5vw; /* Ajusté en fonction de la largeur de l'écran */
    margin-right: 1.5vw; /* Ajusté en fonction de la largeur de l'écran */
    margin-top: 1vh; /* Ajusté en fonction de la hauteur de la fenêtre */
    letter-spacing: 0.1vw; /* Ajusté pour garder un bon espacement entre les lettres */
    line-height: 1.8; /* Garde la même hauteur de ligne */
    color: white;
}

@media (max-width: 768px) {
    .autre-sub {
        font-size: 4vw; /* Texte plus grand sur les petits écrans pour une meilleure lisibilité */
        margin-left: 3vw; /* Ajusté pour des marges plus larges sur de petits écrans */
        margin-right: 3vw; /* Ajusté pour des marges plus larges sur de petits écrans */
        margin-top: 2vh; /* Plus d'espace au-dessus pour donner de l'air au texte */
        letter-spacing: 0.02vw; /* Espacement légèrement augmenté pour de meilleures proportions */
        line-height: 1.5; /* Hauteur de ligne augmentée pour améliorer la lisibilité */
    }
}

.photo2{
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px 0 #c9c8c3(0, 0, 0, 0.3); 

}

/* The Close Button */
.closeAboutMe {
    color: #CEA4A0;
    float: right;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
    
}

/* The Contact form */

.contact-form {
    max-width: 40vw; /* Correspond à 500px sur un écran large */
    margin: 0 auto;
    margin-bottom: 2vh; /* Ajusté pour une hauteur relative */
    padding: 2vh 2vw; /* Ajusté pour une meilleure adaptabilité */
    vertical-align: middle;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 1vh; /* Ajusté pour un espacement vertical plus fluide */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 1.5vh 2vw; /* Ajusté pour la largeur et la hauteur du padding */
    margin-top: 1vh; /* Marges adaptées pour un espacement fluide */
}

.contact-form button {
    margin-top: 2vh;
    margin-left: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    align-items: center;
    width: 100%;
    
    background-color: #CEA4A0;
    color: white;
    font-size: 1.5vw; /* Correspond à 18px sur les grands écrans */
    font-weight: 600;
    border: none;
    border-radius: var(--hlts-glry-radius);
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #333333;

}
@media (max-width: 768px) {
    .contact-form {
        max-width: 80vw; /* Utilisation de presque toute la largeur de l'écran */
        padding: 4vw 0.1vw; /* Padding augmenté pour améliorer le confort de lecture */
    }

    .contact-form label {
        margin-top: 1vh; /* Marges verticales légèrement augmentées */
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        padding: 2vh 2vw; /* Plus d'espace dans les champs pour une meilleure expérience utilisateur */
        margin-top: 2vh; /* Espacement entre les champs légèrement augmenté */
        margin-right: 2vh;
    }

    .contact-form button {
        margin-top: 3vh;
        margin-left: 0;
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-size: 4vw; /* Texte du bouton plus grand pour les petits écrans */
    }
}


.row2 {
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    justify-content: center;
   
    gap: 60px;
    row-gap: 20px;
      
}
@media (min-width: 280px){
    .row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    justify-content: center;
   
    gap: 10px;
    row-gap: 2px;
}
}
@media (min-width: 280px){
    .fa-instagram {
        font-size: 50px;
        
        margin-bottom: 50px;

    }
}

@media (min-width: 375px){
    .row2 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    justify-content: center;
   
    gap: 10px;
    row-gap: 2px;
}
}
@media (min-width: 375px){
    .fa-instagram {
        font-size: 50px;
        margin-bottom: 50px;

    }
}
@media (min-width: 576px){
    .row2 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    justify-content: center;
   
    gap: 10px;
    row-gap: 2px;
}
}
@media (min-width: 576px){
    .fa-instagram {
        font-size: 50px;
        margin-bottom: -100px;

    }
}

@media (min-width: 768px){
    .row2 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    justify-content: center;
   
    gap: 10px;
    row-gap: 2px;
}
}
@media (min-width: 768px){
    .fa-instagram {
        font-size: 60px;
        margin-bottom: 50px;

    }
}
@media (min-width: 992px){
    .fa-instagram {
        font-size: 70px;
        margin-bottom: 70px;

    }
}

@media (min-width: 1280px){
    .fa-instagram {
        font-size: 80px;
        margin-bottom: 80px;

    }
}

